# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# OS
.DS_Store

# Logs
logs/
*.log

# Databases
/data/*.db
!/data/products.db

# Editor
.vscode/
.idea/

# Build output
dist/
build/

# Temporary
tmp/
temp/
